
 
  
  /* input {
    height: 35px;
    width: 70%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  } */
  
  input:focus {
    border: 1px solid rgb(0, 208, 255);
  }
  
  .services {
    display: flex;
    justify-content: space-between;
  }
  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }
  button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: rgb(0, 208, 255);
    border: 1px solid rgb(0, 208, 255);
    width: 33%;
  }
  .first-division1 button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: rgb(0, 208, 255);
    border: 1px solid rgb(0, 208, 255);
    width: 53%;
    text-align: center;
    align-content: center;
  }
  
  .second-division button {
    color: red;
    border: 1px solid red;
    margin-top: 65%;
  }
  .second-division1 button {
    color: red;
    border: 1px solid red;
    margin-top: 65%;
    margin-left: 10%;
  }
  #boxalign {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px 2em;
  }

  #boxalign1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 2em;
  }
  
  .print{
    border: 1px solid #0f100f;
    min-height: 98vh;
  }
  .float-containerbl {
    padding: 1px;
  }
  
  .float-childbl {
    width: 50%;
    float: left;
    padding: 5px;
  
  }  
  .float-child1bl {

    float: left;
   margin-left: -0.01%;


  } 
  td{
   padding-top: 0.1%;
  }
  th,td{
    padding-right: 10px;
  }
 